.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2;

  background-color: rgba($color: #000000, $alpha: 0.5);
}

.rulesWrapper {
  width: 90%;
  height: 100%;

  max-width: 60rem;

  margin: 0 auto;
  padding: 4rem;

  background-color: var(--primary-white);
  border-radius: 0.5rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h3 {
    font-size: 2.8rem;

    text-transform: uppercase;
    text-align: center;

    color: var(--dark-text);
  }

  img {
    max-width: 25rem;
  }

  @media (min-width: 720px) {
    width: fit-content;
    height: fit-content;

    margin: auto;
    padding: 2rem;

    display: grid;
    align-items: flex-start;
    justify-content: flex-end;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;

    h3 {
      font-size: 1.8rem;
      grid-column: 1/2;
      grid-row: 1/2;

      justify-self: baseline;
    }

    img {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}

.closeButtonWrapper {
  width: 100%;

  display: flex;
  align-items: center;

  @media (min-width: 720px) {
    width: fit-content;

    grid-column: 2/3;
    grid-row: 1/2;

    justify-self: end;
  }
}

.closeButton {
  background: none;
  border: none;
}
